img {
    position: relative;
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 0px;
  }
  .kun {
    position: relative;
    text-align-last: auto;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: -130px;
    width: 70%;
  }
  .bela{
    margin-bottom: 80px;
    font-family: 'Abril Fatface';
  }
  .kunbela {
    font-size: 50px;
  }
  body{
    margin-top: 0px; 
  }
  h1 {
    margin: 0px;
  }
  h4{
    font-size: 200%;
    font-style: normal;
    color: white;
    background-color: rgb(68,68,68);
    padding: 40px;
    border: 20px;
    width: 550px;
    position: relative;
    left: -50px;
    font-family: 'Abril Fatface';
    font-weight: lighter;
  }
  h4::before{
    display: block;
    content: "\201C";
    position: absolute;
    left: 1px;
    top: -30px;
    font-size: 110px;
  }
  span{
    font-size: 14px;
    font-weight: 25px;
    font-weight: lighter;
    font-family: 'Josefin Sans';
  }
  ul {
    font-size: 12px;
    line-height: 30px;
  }