img{
    width: 100%;
    height: 0%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

div{
    display: block;
}

.kun{
    position: relative;
    text-align-last: auto;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: -130px;
    width: 500px;
}

.kunbela{
    position: absolute;
    top: 480px;
    left: 800px;
    width: 400px;
    height: 100px;
}

body{
    text-align: center;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    color: grey;
}

blockquote::before{
    color: gray
}

